<h1 class="text-center mt-4">トークルーム</h1>

     <%= render partial: 'message', collection: @messages %> 
    <%= form_with model: [@room, @message], class:"mt-4", local: true do |f| %>
    <%= f.text_field :content, class:"form-control mb-4 col-6", placeholder: 'メッセージ入力' %>
    <%= f.submit '送信', class:"btn btn-primary col-2 mr-4 mb-4" %> 
     <%= link_to "チャットを終了する", room_path(@room), method: :delete, class:"btn btn-danger col-4 mb-4" %>
   <% end %>

  