  <div class="container mt-5 bg-light">
         <h1>プロフィール編集</h1>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>

  <div class="form-row mt-5">
    <div class="form-group col-md-6">
      <label for="inputnickname">ニックネーム</label><span class="badge badge-danger">必須</span>
      <%= f.text_field :nickname, class:"form-control", id:"inputnickname", placeholder:"例) meet太郎" %>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail">Eメール</label><span class="badge badge-danger">必須</span>
      <%= f.email_field :email, class:"form-control", id:"inputemail", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
  </div>

    <%#<div class="form-group col-md-6">
      <label for="inputPassword">パスワード</label><span class="badge badge-danger">必須</span>
      <%= f.password_field :password, class:"form-control", id:"inputpassword", placeholder:"6文字以上の半角英数字" %>
    <%#%</div>

    <%#<div class="form-group col-md-6">
      <label for="inputPassword-confirmation">確認用パスワード</label><span class="badge badge-danger">必須</span>
      <%= f.password_field :password_confirmation, class:"form-control", id:"inputpassword-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    <%#</div>%>
  <div class="form-row">
   <div class="form-group col-md-3">
      <label for="inputage">年齢</label><span class="badge badge-warning">任意</span>
    <%= f.text_field :age, class:"form-control", id:"age" %>
   </div>

   <div class="form-group col-md-3">
      <label for="inputheight">身長</label><span class="badge badge-warning">任意</span>
    <%= f.text_field :height, class:"form-control", id:"height" %>
   </div>

    <div class="form-group col-md-3">
      <label for="inputgender">性別</label><span class="badge badge-danger">必須</span>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"form-control", id:"inputgender"}) %>
    </div>

    <div class="form-group col-md-3">
      <label for="inputbody">体型</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:body_id, Body.all, :id, :name, {}, {class:"form-control", id:"body"}) %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputblood_type">血液型</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:blood_type_id, BloodType.all, :id, :name, {}, {class:"form-control", id:"blood_type"}) %>
    </div>

    <div class="form-group col-md-3">
      <label for="inputbirth_place">出身地</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:birth_place_id, BirthPlace.all, :id, :name, {}, {class:"form-control", id:"birth_place"}) %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputresidence">居住地</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:residence_id, Residence.all, :id, :name, {}, {class:"form-control", id:"residence"}) %>
    </div>

    <div class="form-group col-md-3">
      <label for="inputoccupation">職業</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {}, {class:"form-control", id:"occupation"}) %>
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputincome">年収</label><span class="badge badge-warning">任意</span>
      <%= f.collection_select(:income_id, Income.all, :id, :name, {}, {class:"form-control", id:"income"}) %>
    </div>

 <div class="form-group col-md-2">
  <label for="inputincome">顔写真</label><span class="badge badge-warning">任意</span>
    <%= f.file_field :image, id:"image", class:"btn btn-success" %> 
 </div> 
 </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <%= f.submit "更新する" ,class:"btn btn-primary col-4" %>
  </div>
<% end %>
</div>






