<div class="container  bg-light d-flex justify-content-center flex-column">
  <div class="rounded mx-auto d-block mb-5 mt-5">
    <h1>ユーザーページ<h1>
  </div>
<%= image_tag @user.image, class:"rounded mx-auto d-block img-fluid col-4 img-thumbnail" %>
 
 <div class="d-flex justify-content-center">
 <ul class="list-group mt-5 col-5   ">
  <li class="list-group-item list-group-item-danger border border-danger">ニックネーム　　　　<%= @user.nickname %></li>
  <li class="list-group-item list-group-item-danger border border-danger">年齢　　　　　　　　<%= @user.age %></li>
  <li class="list-group-item list-group-item-danger border border-danger">身長　　　　　　　　<%= @user.height %></li>
  <li class="list-group-item list-group-item-danger border border-danger">性別　　　　　　　　<%= @user.gender.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">体型　　　　　　　　<%= @user.body.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">血液型　　　　　　　<%= @user.blood_type.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">出身地　　　　　　　<%= @user.birth_place.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">居住地　　　　　　　<%= @user.residence.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">職業　　　　　　　　<%= @user.occupation.name %></li>
  <li class="list-group-item list-group-item-danger border border-danger">年収　　　　　　　　<%= @user.income.name %></li>
</ul>
</div>
</div>