<%#<p>Find me in app/views/meet_withs/index.html.erb</p>%>
<h1>投稿一覧</h1>
<div class="contents row">
  <% @meet_withs.each do |meet_with| %>
    
      <%= link_to meet_with.text, meet_with_path(meet_with.id) %>
      <span class="user-name">
        <%= link_to meet_with.user.nickname, user_path(meet_with.user.id) %>
        <%= meet_with.user.age %>
      </span>
    <% if user_signed_in? %>
    <% if current_user.id == meet_with.user.id %>
      <%= link_to "投稿を削除する", meet_with_path(meet_with.id), method: :delete, class:'meet-with-destroy' %>
    <% end %>
    <% end %>
      <div>
      <%= image_tag meet_with.user.image, class: "user-img" %>
      </div>
    </div>
  <% end %>